h2 {
	font-size: 50px;
	color: #990066;
}
p{
	font-size: 30px;
	color: white;
}
.class1 {
    
}


nav {
	width: 100vw;
	height: 5vh;
	margin-top: 5vh;
    display: flex;


}

.box{
	background: url(black.png);
	height: 100vh;

}


.logo {
	font-size: 25px;
	cursor: pointer;
	margin-left: 5vw;
	color: white;

}

.logo:hover {
	color: wheatfont-size: 25px;
	transition: 1s;

}

ul {
	width: 55vw;
	height: 5vh;
	text-align: center;
	margin-left: 35vh;
}
ul li {
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
	margin-left: 2vw;
	margin-right: 2vw;
	color: white; 
}
ul li:hover {
	color: wheatfont-size: 25px;
	transition: 1s;
	border-bottom: solid 1px white;
}
body{
	background: url(image1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}